.Section {
  background-color: #f4f5f5;
  padding: 20px;
  height: 100vh;
}
.Section input,
textarea {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}
.Section button {
  max-width: 500px;
  padding: 5px;
  width: 100%;
}

.Middle {
  text-align: center;
}
